name: CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Lint YAML
        run: yamllint .
      - name: Test Helm Chart
        run: helm lint charts/wordpress